apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-b
  labels:
    app.kubernetes.io/name: app-b
    app.kubernetes.io/instance: release-name
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: app-b
      app.kubernetes.io/instance: release-name
  template:
    metadata:
      labels:
        app.kubernetes.io/name: app-b
        app.kubernetes.io/instance: release-name
    spec:
      containers:
        - name: app-b
          image: "gitopsdemo/app-b"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80

